APP_NAME=TheHubMarket
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_TIMEZONE=Africa/Nairobi

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=the_hub_market
DB_USERNAME=postgres
DB_PASSWORD=your_password